@import "../bs";

section {
  &.bot {
    background: $primary;
    height: 100vh !important;
    overflow: auto;
    .chat {
      overflow: auto;
      height: 65vh;
      padding: 16px;
    }
    .chat-pill {
      padding: 16px;
      background: $white;
      max-width: 768px;
      margin: 4px;
      margin-bottom: 8px;
      color: #383737;
      .chat-text {
        margin: 0;
        font-weight: 500;
      }
      &.right-pill {
        border-radius: 28px 28px 0 28px;
        background: $secondary;
        color: $white;
      }
      &.left-pill {
        border-radius: 28px 28px 28px 0;
      }
      &.ask {
        width: 400px;
      }
      .chat-textfield {
        background: $secondary;
        border: none;
        color: $white;
        outline: none;
        &::placeholder {
          color: $white;
        }
        // border-bottom: 1px solid white;
      }
    }
  }
}
/**Scroll Bar*/

.chat::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: $primary;
}

.chat::-webkit-scrollbar {
  width: 10px;
  background-color: $primary;
}

.chat::-webkit-scrollbar-thumb {
  background-color: #4c3e92;
  background-image: none;
}
/***/