@import "../bs";

section {
  &.bot {
    background: $primary;
    // height: calc(100vh - 18px) !important;
    height: 100% !important;
    overflow: hidden;
    .chat {
      // overflow: auto;
      // height: 65vh;
      // padding: 16px;

      overflow: auto;
      height: 100vh;
      // max-height: calc(100vh - 256px) !important;
      max-height: calc(100vh - 356px) !important;
      padding: 16px;
    }
    .chat-pill {
      padding: 16px;
      background: $white;
      max-width: 768px;
      margin: 4px;
      margin-bottom: 8px;
      color: #383737;
      .chat-text {
        margin: 0;
        font-weight: 500;
      }
      &.right-pill {
        border-radius: 28px 28px 0 28px;
        background: $secondary;
        color: $white;
      }
      &.left-pill {
        border-radius: 28px 28px 28px 0;
      }
      &.ask {
        width: 400px;
        padding: 0;
        border-radius: 16px 16px 0px 16px;
        background: $white;
        color: $white;
        overflow: hidden;
        .chat-textfield {
          // background: $;
          border: none;
          padding: 16px;
          // color: $white;
          outline: none;
          &::placeholder {
            color: $white;
          }
          // border-bottom: 1px solid white;
        }
        .send {
          background: $secondary;
          // padding: 8px;
          display: flex;
          // align-items: center;
          // justify-content: center;
          .span {
            color: $white;
          }
        }
      }
    }
  }
}
/**Scroll Bar*/

.chat::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: $primary;
}

.chat::-webkit-scrollbar {
  width: 10px;
  background-color: $primary;
}

.chat::-webkit-scrollbar-thumb {
  background-color: #4c3e92;
  background-image: none;
}
/***/

.bot-side-menu {
  left: 0;
  width: 100% !important;
  position: fixed !important;
  margin-top: 0 !important;
  height: 100%;
  max-width: 100% !important;
  overflow: hidden !important;
  -webkit-transform: translate3d(0%, 0, 0) !important;
  -ms-transform: translate3d(0%, 0, 0) !important;
  -o-transform: translate3d(0%, 0, 0) !important;
  transform: translate3d(0%, 0, 0) !important;
  .modal-content {
    height: 100%;
    .modal-body {
      padding: 0 !important;
      overflow: hidden;
    }
  }
}

.bot-menu-btn {
  position: fixed;
  height: 250px;
  background: rgba(202, 202, 202, 0.45);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 8px;
  width: 100px;
  text-align: center;
  top: 25%;
  cursor: pointer;
  z-index: 99;
  &.left {
    left: 0;
    &::before {
      content: "";
      position: absolute;
      left: -2%;
      top: 100%;
      width: 103%;
      height: 0;
      /* border-left: 80px solid transparent; */
      border-right: 98px solid transparent;
      border-top: 111px solid rgba(202, 202, 202, 0.45);
      clear: both;
    }
    &::after {
      content: "";
      position: absolute;
      left: -78%;
      top: -109px;
      width: 103%;
      height: 0;
      border-left: 80px solid transparent;
      border-right: 98px solid transparent;
      border-bottom: 109px solid rgba(202, 202, 202, 0.45);
      clear: both;
    }
  }
  &.right {
    right: 0;
    top: 13%;
    color: $white;
    img {
      margin-bottom: 16px;
    }
    &::before {
      content: "";
      position: absolute;
      left: 1%;
      top: -109px;
      width: 100%;
      height: 0;
      border-left: 100px solid transparent;
      border-right: 0px solid transparent;
      border-bottom: 109px solid rgba(202, 202, 202, 0.45);
      clear: both;
    }
    &::after {
      content: "";
      position: absolute;
      left: -2%;
      top: 100%;
      width: 103%;
      height: 0;
      border-left: 100px solid transparent;
      border-top: 111px solid rgba(202, 202, 202, 0.45);
      clear: both;
    }
  }
}

@media screen and (max-width: 992px) {
  // .bot-side-menu {
  //   overflow-x: hidden !important;
  // }
  .bot-menu-btn {
    height: 220px;
    width: 85px;
    img {
      width: 32px;
    }
    div {
      font-size: 14px;
    }
    &.left {
      &::before {
        left: -8%;
        border-right: 93px solid transparent;
        border-top: 100px solid rgba(202, 202, 202, 0.45);
      }
      &::after {
        border-left: 53px solid transparent;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  // .bot-side-menu {
  //   overflow-x: hidden !important;
  // }
  .bot-menu-btn {
    height: 180px;
    width: 55px;
    img {
      width: 34px;
    }
    &.left {
      &::before {
        border-right: 57px solid transparent;
        border-top: 60px solid rgba(202, 202, 202, 0.45);
      }
      &::after {
        border-left: 2px solid transparent;
      }
    }
    &.right {
      img {
        margin-bottom: 0px;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  // .bot-side-menu {
  //   overflow-x: hidden !important;
  // }
  .bot-menu-btn {
    height: 50px;
    width: 42px;
    img {
      width: 30px;
    }
    &.left {
      &::before {
        border-right: 38px solid transparent;
        border-top: 22px solid rgba(202, 202, 202, 0.45);
      }
      &::after {
        left: -55%;
        top: -38px;
        border-left: 10px solid transparent;
        border-right: 54px solid transparent;
        border-bottom: 38px solid rgba(202, 202, 202, 0.45);
      }
    }
    &.right {
      img {
        margin-bottom: 0;
      }
      &::before {
        top: -58px;
        border-bottom: 58px solid rgba(202, 202, 202, 0.45);
        border-left: 88px solid transparent;
      }
      &::after {
        left: 0%;
        border-top: 67px solid rgba(202, 202, 202, 0.45);
        border-left: 95px solid transparent;
      }
    }
  }
}
