@import "../bs";
.case-studies {
  background: $primary;
  .carousel.carousel-slider {
    overflow: initial;
    .control-dots {
      bottom: -35px;
    }
  }
  .header {
    font-size: 70px;
    font-weight: 400;
  }
  .title {
    font-size: 30px;
  }
  .description {
    font-size: 20px;
    letter-spacing: 0.5px;
    line-height: 34px;
  }
  .position-initial {
    position: initial !important;
  }
  .image-section {
    position: absolute;
    right: 0px;
    width: 400px;
    height: 100%;
    display: flex;
    img {
      width: 100%;
      clip-path: polygon(25% 0%, 100% 1%, 100% 100%, 25% 100%, 0% 50%);
    }
  }
  padding: 64px 0;
  .carousel {
    .slide {
      background: transparent !important;
      background: transparent !important;
      text-align: left;
    }
  }
}
