@import "../bs";

.case-study{
    background: #fff;
    .carousel {
        .slide {
          background: transparent !important;
          background: transparent !important;
          text-align: left;
        }
        .dot{
            background: #eee !important;
            opacity: 1 !important;
        }
        .dot.selected{
            background: $primary !important;
        }
      }
      .case-study-item{
        img{
            height: 90px;
            width: auto;
            max-width: 150px;
            object-fit: contain;
        }
        .underline{
            text-decoration: underline;
        }
      }
}