@import "../bs";

.contact-us {
  .contact-title {
    font-size: 30px;
    color: $gray;
  }
  .contact-subtitle {
    color: #a1a1a1;
  }
  .contact-us-card {
    .card-body {
      > div {
        margin-bottom: 8px;
      }
    }
    img {
      margin-right: 8px;
    }
  }
}
