@import "../bs";

.chat-main {
  height: calc(100vh - 166px);
}
.chat-screen {
  height: 100%;
}
.chat-container {
  height: calc(100% - 50px);
  overflow: auto;
  padding: 0 8px;
}
.send-chat-container {
  display: flex;
  margin-top: 4px;
}
.room-list {
  height: 100%;
  overflow: auto;
}

.chat-textField {
  padding: 8px 10px;
  border: 1px solid #ccc;
  outline: none;
  background: #f9f9f9;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.custom-breadcrumb {
  .breadcrumb {
    display: flex;
    justify-content: space-between;
  }
}
.send-msg {
  button {
    border-radius: 0 8px 8px 0 !important;
  }
}
.interact {
  display: flex;
  justify-content: center;
  align-items: center;
  .spinner-border {
    margin-right: 6px;
  }
}

#dash {
  height: calc(100vh - 90px);
  background: #fff;
  border: 1px solid #ddd;
  padding: 8px;
}
