section {
  &.landing-home {
    .image-section {
      // position: absolute;
      // right: 0px;
      width: 360px;
      img {
        width: 100%;
      }
    }
    .position-initial {
      position: initial !important;
    }
  }
}
