section {
  &.landing-home {
    .image-section {
      // position: absolute;
      // right: 0px;
      width: 100%;
      img {
        width: 100%;
      }
    }
    .position-initial {
      position: initial !important;
    }
  }
}
.wwd-list-card {
  margin-bottom: 16px;
}
