@import "../bs";

.incede-nav {
  .nav-item {
    padding: 18px 24px;
    a {
      color: $gray;
      font-size: 18px;
      letter-spacing: 0;
      font-weight: bolder;
    }
  }
  .navbar-brand {
    padding: 16px !important;
  }
}

.what-we-do-menu {
  min-width: 100vw;
  max-height: 480px;
  h1{
    color: $light-gray;
  }
}
.menu {
  h5 {
    a {
      color: $gray;
    }
  }
}
