@import "../bs";

.incede-nav {
  .nav-item {
    padding: 18px 24px;
    a {
      color: $gray;
      font-size: 18px;
      letter-spacing: 0;
      font-weight: bolder;
    }
  }
  .navbar-brand {
    padding: 16px !important;
  }
}

.what-we-do-menu {
  min-width: 100vw;
  max-height: 480px;
  h1 {
    color: $light-gray;
  }
}
.menu {
  h5 {
    a {
      color: $gray;
    }
  }
}
#whatWeDo {
  .active-what-we-do {
    transform: rotate(180deg);
  }
}
@media screen and (max-width: 599px) {
  #whatWeDo {
    img {
      transform: rotate(-90deg);
      &.active-what-we-do {
        transform: rotate(270deg);
      }
    }
  }
  .back-icon {
    transform: rotate(90deg);
  }
  .wwd-sub-menu {
    padding-left: 36px;
  }
  .what-we-do-menu {
    max-height: 100vh !important;
    overflow: auto !important;
    .popover-body {
      background: $primary;
      color: #fff;
    }
    h3 {
      font-size: 18px;
    }
    ul {
      padding-left: 16px;
      h5 {
        a {
          font-size: 14px;
          color: #fff !important;
        }
      }
    }
  }
}
