body {
  font-family: "Noto Sans", sans-serif;
}
@import "./bs.scss";
@import "./styles/home.scss";
@import "./styles/about_us.scss";
@import "./styles/bot.scss";
@import "./styles/footer.scss";

.primary-text {
  color: $primary;
}

.gap-y{
  padding: 64px 0;
}
.gap-x{
  padding: 0 64px;
}